.link_input {
    display:flex;
    flex-direction: row;
    margin-top: 3%;
}

.link_input input{
    width: 85%;
    height: 2%;
}

.menu_bar {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}

.menu_bar p{
    margin-left: 2%;
    cursor: pointer;
}

.menu_bar p:hover {
    background-color: rgba(173, 216, 230, 0.5);
}

