.display_div {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.title_info {
    position: absolute;
    top: 7%;
    left: 3%;
    width: 92%;
    height: 40%;
}

.display_form {
    position: absolute;
    top: 49%;
    left: 3%;
    width: 90%;
    height: 60%;
    display: flex; 
    flex-direction: column;
}

form input {
    margin-top: 1.5%;
}

.title {
    width: 100vw;
    height: 30vh;
}

.title_cont {
    position: absolute;
    width: 85vw;
    top: 2%;
    left: 19%
}

.desc_cont {
    position: absolute;
    width: 75vw;
    top: 11%;
    left: 19%;
}

.a_img {
    position: absolute;
    top: 3%;
    left: 1%;
}